<div *ngFor="let res of resources; let i = index" class="card box-shadow" style="width: 45rem; margin: 10px;">
  <div class="card-header">
    <h2>{{i+1}}. {{res.name}}</h2>
  </div>

  <div *ngIf="res.type=='FILE'" class="card-body">
    <p>{{res.description}}</p>
    <button type="button"
    fileSaver
    [method]="'GET'"
    [fileName]="res.name"
    [url]="'http://10.222.174.42:8080/resources/'+res.rid+'/file'"
    [header]="{Authorization: token }"
    (success)="onSuc($event)"
    (error)="onErr($event)">下载</button>  </div>

  <div *ngIf="res.type=='LINK'" class="card-body">
    <p>{{res.description}}</p>
    <a href="{{res.link}}">进入</a>
  </div>
</div>