<body class="text-center">
  <form class="form-signin" (ngSubmit)="form.form.valid && user.password==passwordAgain && register()" #form="ngForm">
    <h1 class="h3 mb-3 font-weight-normal">请注册</h1>
    
    <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" class="form-control" placeholder="邮箱" required autofocus>
    <div *ngIf="form.submitted && !email.valid">邮箱不可为空</div>

    <input type="text" name="username" [(ngModel)]="user.name" #username="ngModel" class="form-control" placeholder="用户名" required>
    <div *ngIf="form.submitted && !username.valid">用户名不可为空</div>

    <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" class="form-control" placeholder="密码" required>
    <div *ngIf="form.submitted && !password.valid">密码不可为空</div>

    <input type="password" name="passwordagain" [(ngModel)]="passwordAgain" #passwordagain="ngModel" class="form-control" placeholder="密码确认" required>
    <div *ngIf="form.submitted && !passwordagain.valid">请确认密码</div>
    <div *ngIf="password.valid && passwordagain.valid && user.password!==passwordAgain">两次密码不一致</div>

    <input type="radio" name="usertype" id="teacher" checked="true" (change)="setTypeStu()">教师    
    <input type="radio" name="usertype" id="student" (change)="setTypeTec()">学生

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="注册">
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</body>