<!--<ng-template #addMultichoiceTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">新选择题</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-newMulti" (ngSubmit)="form.form.valid && addMultichoice()" #form="ngForm">
      <input type="text" name="title" [(ngModel)]="newMultichoice.description" class="form-control" placeholder="问题描述" required
        autofocus>
      <input type="text" name="op1" [(ngModel)]="newMultichoice.choices[0].value" class="form-control" placeholder="选项A" required>
      <input type="text" name="op2" [(ngModel)]="newMultichoice.choices[1].value" class="form-control" placeholder="选项B" required>
      <input type="text" name="op3" [(ngModel)]="newMultichoice.choices[2].value" class="form-control" placeholder="选项C" required>
      <input type="text" name="op4" [(ngModel)]="newMultichoice.choices[3].value" class="form-control" placeholder="选项D" required> 正确答案

      <input type="radio" name="radiobox" checked="true" (click)="setMultianswer('A')"> A
      <input type="radio" name="radiobox" (click)="setMultiAnswer('B')"> B
      <input type="radio" name="radiobox" (click)="setMultiAnswer('C')"> C
      <input type="radio" name="radiobox" (click)="setMultiAnswer('D')"> D
      <br>
      <input type="button" name="cancel" class="btn btn-default" value="取消" (click)="cancelAdd()">
      <input type="submit" name="confirm" class="btn btn-primary" value="确认">
    </form>
  </div>
</ng-template>

<ng-template #addShortanswerTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">新简答题</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-signin" (ngSubmit)="form.form.valid && addShortanswer()" #form="ngForm">
      <input type="text" name="title" [(ngModel)]="newShortanswer.description" class="form-control" placeholder="问题描述" required
        autofocus>
      <input type="button" class="btn btn-default" name="cancel" value="取消" (click)="cancelAdd()">
      <input type="submit" class="btn btn-primary" name="confirm" value="确认">
    </form>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="openModal(addMultichoiceTemplate)">添加选择题</button>
<button class="btn btn-primary" (click)="openModal(addShortanswerTemplate)">添加简答题</button>
-->
<div *ngFor="let q of questions; let i = index" class="row justify-content-center">

<div #test >test</div>

    <div *ngIf="q.type=='MULTIPLE_CHOICE'" class="card box-shadow" style="width: 45rem; margin: 10px;">
      <div class="card-header">
        <h2>{{i+1}}. {{q.description}}</h2>
      </div>
      <div class="card-body">
        <form class="form-ans" (ngSubmit)="form.form.valid && answerQuestion(q)" #form="ngForm">
          <div *ngFor="let op of q.choices; let j=index">
            <input *ngIf="userType=='STUDENT' && q.submit=='false'" type="radio" name="radiobox" (change)="setAnswer(q, op.key)">{{op.key}}. {{op.value}}
          </div>
          <div *ngIf="userType=='STUDENT'">
            <input *ngIf=" q.submit=='false'" type="submit" name="confirm" class="btn btn-primary" value="回答">
            <input *ngIf=" q.submit=='true'" type="button" name="confirmed" class="btn btn-primary" disabled value="已回答: {{q.answer}}">
          </div>
  
        </form>
      </div>
      <div *ngIf="userType=='TEACHER'" class="card-footer">
        正确率：
      </div>
  
    </div>
  
    <div *ngIf="q.type=='SHORT_ANSWER'" class="card box-shadow" style="width: 45rem; margin: 10px;">
      <div class="card-header">
        <h2>{{i+1}}. {{q.description}}</h2>
      </div>
      <div class="card-body">
        <form *ngIf="userType=='STUDENT' && q.submit=='false'" class="form-ans" (ngSubmit)="form.form.valid && answerQuestion(q)" #form="ngForm">
          <textarea rows="6" cols="63" required name="answer" [(ngModel)]="q.answer"></textarea>
          <br>
          <input type="submit" name="confirm" class="btn btn-primary" value="回答">
        </form>
        <div *ngIf="userType == 'STUDENT' && q.answer != ''">
          <p>{{q.answer}}</p>
          <input type="button" name="confirmed" class="btn btn-primary" disabled value="已回答">
        </div>
      </div>
    </div>
  
  </div>