<div *ngFor="let lec of lectures; let i = index" class="card box-shadow" style="width: 45rem; margin: 10px;">
  <div class="card-header">
    <h2>{{i+1}}. {{lec.title}}</h2>
  </div>

  <div class="card-body">
    <p>{{lec.description}}</p>
    <button type="button"
        fileSaver
        [method]="'GET'"
        [fileName]="lec.title"
        [url]="'http://10.222.174.42:8080/resources/'+lec.lid+'/file'"
        [header]="{Authorization: token }"
        (success)="onSuc($event)"
        (error)="onErr($event)">下载</button>
  </div>
</div>
